@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  font-family: "Roboto", serif;
  margin: 0 auto;
}
.container {
  max-width: 1152px;
}
.header {
  position: fixed;
  top: 17px;
  /* left: 151px; */
  z-index: 1000;
}
.header-wrap {
  height: 63px;
  padding: 24px 5px 9px 0;
  display: flex;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 38px;
  justify-content: center;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__logo {
  width: 158px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__address {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 223px;
}
.header__phone_number {
  font-size: 24px;
}
.header__button {
  display: flex;
  width: 164px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__button:hover {
  border-radius: 5px;
  background: #fcdb05;
  color: #2f2f2f;
}
.header__button_text {
  font-size: 14px;
}
.header__text {
  max-width: 120px;
  /* margin-left: 10px; */
}
.header__text_title {
  font-size: 14px;
}
.main {
  position: relative;
  max-width: 100%;
}
.main input {
  display: none;
}
.ruling {
  width: 66px;
  position: absolute;
  top: 471px;
  /* right: 0; */
  left: 1372px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 1000;
}
.ruling__button {
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/ruling_restangle.svg);
}
.ruling__button_title {
  /* text-orientation: sideways; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-size: 14px;
}
.ruling__button_img {
  margin-bottom: 7px;
}
.ruling__bread-crumbs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 23px;
  /* gap: 14px; */
}
.ruling__bread_crumbs-ellipse {
  height: 24px;
}
.ruling__bread_crumbs-ellipse:nth-child(1)::before {
  content: "01";
  color: #fff;
  font-size: 12px;
  padding-right: 5px;
}
.ruling__bread-crumbs label {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fcdb05;
  /* padding-right: 23px; */
}
.ellipse_active {
  width: 4px;
  height: 4px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.slides {
  /* width: inherit; */
  /* height: inherit; */
  position: relative;
  /* overflow: hidden; */
}
.slide {
  /* height: inherit; */
  /* width: inherit; */
  /* /* opacity: 1; */
  /* position: absolute; */
  z-index: 1000;
}
.slide1 {
  background: url(../images/main_photo.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
}
.main-slider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 398px;
  gap: 24px;
}
.main-slider__text_title {
  color: #fcdb05;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}
.main-slider__text_subtitle {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.main-slider__button {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.main-slider__button button {
  width: 264px;
  height: 54px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.main-slider__button button:hover {
  border-radius: 5px;
  background: #fcdb05;
  color: #2f2f2f;
}
.main-slider__button-img {
  width: 252px;
  height: 54px;
  background: url(../images/main_border_icon.svg) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-slider__button_title {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.main-slider__button_title img {
  margin-top: -30px;
  padding-top: 30px;
}
.main-slider__button_subtitle {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.main-slider__footer {
  margin-top: 156px;
  display: flex;
  width: 1248px;
  height: 163px;
  border-radius: 0px 105px 105px 0px;
  background: rgba(24, 24, 24, 0.5);
  align-items: center;
  justify-content: end;
  gap: 132px;
  padding-right: 46px;
}
.main-slider__footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-slider__footer-item_img {
}
.main-slider__footer-item_title {
  width: 154px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.slide2 {
  background: #181818;
  background-size: cover;
  height: 100vh;
}
.slide3 {
  background: url(../images/slide3.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.slide4 {
  background: url(../images/slide4.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.slide5 {
  background: #181818;
  background-size: cover;
  height: 100vh;
}
.slide6 {
  background: url(../images/slide6.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.main .control {
  position: absolute;
}
.main label {
}
