@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  font-family: "Roboto", serif;
  margin: 0 auto;
  height: 1024px;
  width: 1440px;
  position: relative;
}
.container {
  max-width: 1152px;
}
.header {
  max-width: 100%;
  position: absolute;
  top: 17px;
  left: 151px;
  z-index: 10;
}
.header-wrap {
  height: 63px;
  padding: 24px 5px 9px 0;
  display: flex;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 38px;
  justify-content: center;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__logo {
  width: 158px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__address {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 223px;
}
.header__phone_number {
  font-size: 24px;
}
.header__button {
  display: flex;
  width: 164px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__button:hover {
  border-radius: 5px;
  background: #fcdb05;
  color: #2f2f2f;
}
.header__button_text {
  font-size: 14px;
}
.header__text {
  max-width: 120px;
  margin-left: 10px;
}
.header__text_title {
  font-size: 14px;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.ruling__button {
  position: absolute;
  top: 616px;
  left: 1372px;
  height: 196px;
  width: 66px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/ruling_restangle.svg) no-repeat;
}
.ruling__button_title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-size: 14px;
}
.ruling__button_img {
  /* margin-bottom: 7px; */
  padding: 7px;
}
.ruling__bread-crumbs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 23px;
  /* gap: 14px; */
}
.main input {
  display: none;
}
.ruling__bread_crumbs-ellipse {
  height: 24px;
}
.ruling__bread_crumbs-ellipse:nth-child(1)::before {
  content: "01";
  color: #fff;
  font-size: 12px;
  padding-right: 5px;
}

/* -----slides---------- */

.slides {
  height: inherit;
  width: inherit;
  position: relative;
  overflow: hidden;
}
.slides label {
  display: none;
}
.slide {
  height: inherit;
  width: inherit;
  position: absolute;
  opacity: 0;
  z-index: 0;
}
.slide1 {
  background: url(../images/main_photo.png) no-repeat;
  background-size: cover;
}
.slide1__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 398px;
  gap: 24px;
}
.slide1__text_title {
  color: #fcdb05;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}
.slide1__text_subtitle {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.slide1__button {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.slide1__button button {
  width: 264px;
  height: 54px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.slide1__button button:hover {
  border-radius: 5px;
  background: #fcdb05;
  color: #2f2f2f;
}
.slide1__button-img {
  width: 252px;
  height: 54px;
  background: url(../images/main_border_icon.svg) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slide1__button_title {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.slide1__button_title img {
  margin-top: -30px;
  padding-top: 30px;
}
.slide1__button_subtitle {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.slide1__footer {
  margin-top: 156px;
  display: flex;
  width: 1248px;
  height: 163px;
  border-radius: 0px 105px 105px 0px;
  background: rgba(24, 24, 24, 0.5);
  align-items: center;
  justify-content: end;
  gap: 132px;
  padding-right: 46px;
}
.slide1__footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide1__footer-item_img {
}
.slide1__footer-item_title {
  width: 154px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.slide2 {
  background: #181818;
  background-size: cover;
}
.slide3 {
  background: url(../images/slide3.jpg) no-repeat;
  background-size: cover;
}
.slide4 {
  background: url(../images/slide4.jpg) no-repeat;
  background-size: cover;
}
.slide5 {
  background: #181818;
  background-size: cover;
}
.slide6 {
  background: url(../images/slide6.jpg) no-repeat;
  background-size: cover;
}

.control {
  width: 30px;
  height: 117px;
  position: absolute;
  top: 46%;
  left: 98%;
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  z-index: 10;
}
.control label {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #fcdb05;
  cursor: pointer;
}

#point1:checked ~ .slides > .slide1,
#point2:checked ~ .slides > .slide2,
#point3:checked ~ .slides > .slide3,
#point4:checked ~ .slides > .slide4,
#point5:checked ~ .slides > .slide5,
#point6:checked ~ .slides > .slide6 {
  opacity: 1;
  z-index: 1;
}
.main > input:checked .slide
