* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
a {
  text-decoration: none;
}
html {
  font-family: "Open Sans";
}
body {
  background-color: #020a18;
}
.header {
  background-color: #020b1b;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  list-style: none;
  gap: 40px;
}
.menu__item {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.intro {
  display: flex;
  gap: 128px;
  margin-top: 160px;
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}
.intro-upper-title {
  color: #3a68b8;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.intro-title {
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 40px;
}
.intro-text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 50px;
  width: 558px;
}
.intro-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #3a68b8;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.intro-button-wrapper {
  display: flex;
  gap: 20px;
}
.logos {
  margin-top: 197px;
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
