@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../fonts/gilroy-semibold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Gilroy";
}
body {
  background: #fff;
}

a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-left: 14px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logo__span {
  color: #f25822;
}
.active {
  color: #f25822 !important;
}
.menu__block {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}
.menu__item {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Meta */

.meta {
  display: flex;
  margin-top: 84px;
  margin-left: auto;
  margin-right: auto;
}
.meta__left {
  width: 522px;
}
.meta__title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.meta__text {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  width: 466px;
}
.meta__button_wrapper {
  margin-top: 37px;
  display: flex;
  gap: 72px;
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.meta__button,
.perfect__button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.active-meta {
  width: 140px;
  height: 50px;
  color: #fff;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}
.meta__watch {
  display: flex;
}
.meta__watch_text {
  min-width: 90px;
  padding-top: 15px;
  padding-left: 15px;
}
.meta__right {
  margin-left: 41px;
  height: 375px;
}
.brand-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
  padding-top: 97px;
  padding-bottom: 96px;
}

/* Perfect */

.perfect {
  display: none;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
}
.perfect__left {
  width: 515px;
}
.perfect__title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 127px;
  width: 410px;
}
.perfect__text {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 20px;
  width: 515px;
  padding-right: 16px;
}
.perfect__button_wrapper {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 35px;
}
/* .perfect__button {
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
} */
.perfect__right {
  padding-left: 16px;
}

/* Features */

.features {
  /* margin-top: 124px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}
.features__items {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 25px;
}
.features__items:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.feature__item_title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}
.features__item_text {
  width: 310px;
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 17px;
}
.feature__item_button {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 25px;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

/* Services */

.services {
  margin-top: 92px;
  display: grid;
  column-gap: 30px;
  padding-bottom: 100px;
  background-color: #fafafa;
}
.services__title {
  grid-column: 1/4;
  text-align: center;
  justify-self: center;
  padding-bottom: 55px;
}
.si_1 {
  grid-column: 1/2;
}
.si_2 {
  grid-column: 2/3;
}
.si_3 {
  grid-column: 3/4;
}

.services__title_header {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services__title_text {
  margin-top: 19px;
  width: 682px;
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__item:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.services__item_title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services__item_text {
  margin-top: 22px;
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 310px;
}
.services__item_button-wrapper {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.services__button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.services__button_img {
  /* width: 7px;
  height: 10px; */
  color: #ffffff;
  padding-left: 6px;
}
